{{input type='text' value=name}}
{{view Ember.Select content=typeOptions value=type}}
{{#if hasRelation}}
{{input type='text' value=relatedTo placeholder='Model name'}}
{{/if}}
<a {{action 'removeField'}} class="remove-link" href='#'>&times;</a>